*, :after, :before {
    box-sizing: border-box;
}

.telegram_message {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.cloud {
    background: #182533;
    border-radius: 10px 10px 10px 0;
    padding: 5px 15px 5px 15px;
    position: relative;
    max-width: 650px;
}

.cloud:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 10px;
    background-color: #182533;
}

.cloud:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 0 0 100% 0;
}

.cloud_name {
    color: #429BDB;
    font-size: 17px;
}

.cloud_time {
    color: #6D7F8F;
    font-size: 16px;
    text-align: right;
}

.avatar img {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 85px;
    background-color: #fff;
    background-size: 32px;
}

.cloud_text p {
    margin: 0;
}

