.listNames {
    padding: 5px;
}

.listNames h1 {
    font-family: monospace;
    letter-spacing: 1px;
}

.listNames ul {
    list-style: none;
}
.listNames ul li {
    font-family: monospace;
    font-size: 22px;
    padding: 3px 0;
    letter-spacing: 1px;
}