.mainCounter {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.mainCounter span {
    text-align: center;
}


.mainCounterNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    padding: 10px;
    border-bottom: 1px solid #4CAF50;
}

.mainCounterNumber span {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
}
.inputListName {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;

}